<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div>
        <ul class="topnavi">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/create">Create Users</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </div>

    <h2>Welcome to Home Page</h2>

    <div>
        <div class="title">List Users</div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.map(function(user,index){ %>
                    <tr class="<%= index % 2 === 1 ? 'active-row' : '' %>">
                        <td><%= user.email %></td>
                        <td><%= user.name %></td>
                        <td><%= user.city %></td>
                        <td>
                            <button class="btn-edit">Edit</button>
                            <button class="btn-delete">Delete</button>
                    </td>
                <% }); %>
            </tbody>
        </table>                    
    </div>

</body>
</html>